<div class="p-grid p-justify-center">
    <div class="p-col-10 p-md-6 p-lg-3">
        <p-card>
            <div class="p-grid">
                <div class="p=p-col-10">
                    <label for="">Usuario:</label>
                    <input type="text" pInputText />
                </div>
                <div class="p=p-col-10">
                    <label for="">Senha:</label>
                    <input type="text" pInputText />
                </div>
                <div class="p=p-col-10">


                </div>
            </div>
        </p-card>
    </div>
</div>
